<!-- Row-->
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total Employees</span>
              <h3 class="mb-0 mt-1 text-success">5,678</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-success-transparent my-auto float-left">
              <i class="las la-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total Male Employees</span>
              <h3 class="mb-0 mt-1 text-primary">3,876</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-primary-transparent my-auto float-left">
              <i class="las la-male"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total Female Employees</span>
              <h3 class="mb-0 mt-1 text-secondary">1,396</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-secondary-transparent my-auto float-left">
              <i class="las la-female"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total New Employees</span>
              <h3 class="mb-0 mt-1 text-danger">398</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-danger-transparent my-auto float-left">
              <i class="las la-user-friends"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row">
  <div class="col-xl-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <h4 class="card-title">Employees List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-vcenter text-nowrap table-bordered border-bottom"
            id="hr-table"
          ></table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row-->
<script>
  $.ajax({
    url: "/api/getdata",
    method: "POST",
    data: { tname: "empsdata" },
    cache: false,
    success: function (res) {
      //console.log(res.data[15])
      $("#hr-table").DataTable({
        data: res.data,
        columns: [
          { data: "id", title: "ت" },
          {
            data: "Picture",
            render: function (data, type, row) {
              return (
                `<div class="d-flex">
			<span class="avatar avatar-md brround ml-3" style="background-image: url(` +
                row["Picture"] +
                `)"></span>
			<div class="mr-3 mt-0 mt-sm-1 d-block">
 <h6 class="mb-1 fs-14">` +
                row["Emp_Name"] +
                `</h6>
 <p class="text-muted mb-0 fs-12">` +
                row["Email"] +
                `</p>
 </div 
 </div>`
              );
            },
            title: "الاسم",
          },
          { data: "Emp_ID", title: "رقم الموظف" },
          { data: "Department", title: "القسم" },
          { data: "Designation", title: "التخصص" },
          { data: "Phone_Number", title: "رقم التلفون" },
          { data: "Join_Date", title: "تاريخ التعيين" },
          { data: "At_work", title: "الخدمة" },
          { data: "Status", title: "الحالة" },
          {
            render: function () {
              return `<a class="btn btn-primary btn-icon btn-sm" href="hr-empview.html">
<i class="feather feather-edit" data-toggle="tooltip" data-original-title="View/Edit"></i>
</a>
<a class="btn btn-danger btn-icon btn-sm" data-toggle="tooltip" data-original-title="Delete"><i class="feather feather-trash-2"></i></a>`;
            },
            title: "Actions",
          },
        ],
      });
    },
  });
</script>
<!-- INTERNAL Data tables -->
<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/dataTables.responsive.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/responsive.bootstrap4.min.js"></script>

<!-- Custom js-->
<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/custom.js"></script>
