	    <link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Calendar</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-body">
										<div id="calendar"></div>
									</div>
								</div>
							</div>
						</div>
	    <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/fullcalendar/fullcalendar.min.js"></script>
	    <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/app-calendar-events.js"></script>
	    <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/app-calendar-rtl.js"></script>
