	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Cards</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-4">
								<div class="card">
									<div class="card-body">
										This is some text within a card body.
									</div>
								</div>
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link" href="javascript:renderPage('#')">Card link</a> <a class="card-link" href="javascript:renderPage('#')">Another link</a>
									</div>
								</div>
								<div class="card">
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Vestibulum at eros</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
										<li class="list-group-item">Vestibulum at eros</li>
									</ul>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card overflow-hidden">
									<img alt="image" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/10.jpg">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
									<ul class="list-group list-group-flush">
										<li class="list-group-item">Cras justo odio</li>
										<li class="list-group-item">Dapibus ac facilisis in</li>
									</ul>
									<div class="card-body">
										<a class="card-link" href="javascript:renderPage('#')">Card link</a> <a class="card-link" href="javascript:renderPage('#')">Another link</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Featured
										</div>
									</div>
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
								<div class="card text-center">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Featured
										</div>
									</div>
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
									<div class="card-footer text-muted">
										2 days ago
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Featured
										</div>
									</div>
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Quote
										</div>
									</div>
									<div class="card-body">
										<blockquote class="blockquote mb-0">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
											<footer class="blockquote-footer">
												Someone famous in <cite title="Source Title">Source Title</cite>
											</footer>
										</blockquote>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Card title</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Button</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card text-center">
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-4">
								<div class="card text-right">
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card text-center">
									<div class="card-header border-bottom-0">
										<ul class="nav nav-pills card-header-pills">
											<li class="nav-item">
												<a class="nav-link active" href="javascript:renderPage('#')">Active</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="javascript:renderPage('#')">Link</a>
											</li>
											<li class="nav-item">
												<a aria-disabled="true" class="nav-link disabled" href="javascript:renderPage('#')" tabindex="-1">Disabled</a>
											</li>
										</ul>
									</div>
									<div class="card-body">
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-body">
										<ul class="nav nav-pills card-header-pills mb-6">
											<li class="nav-item">
												<a class="nav-link active d-block" href="javascript:renderPage('#')">Active</a>
											</li>
											<li class="nav-item">
												<a class="nav-link d-block" href="javascript:renderPage('#')">Link</a>
											</li>
											<li class="nav-item">
												<a aria-disabled="true" class="nav-link disabled d-block" href="javascript:renderPage('#')" tabindex="-1">Disabled</a>
											</li>
										</ul>
										<h5 class="card-title">Special title treatment</h5>
										<p class="card-text">With supporting text below as a natural lead-in to additional content.</p><a class="btn btn-primary" href="javascript:renderPage('#')">Go somewhere</a>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Basic card</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
									<div class="card-footer">
										This is Basic card footer
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Basic card</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
									<div class="card-footer">
										This is Basic card footer
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card overflow-hidden">
									<div class="card-header bg-primary ">
										<h3 class="card-title text-white">Basic color card-header</h3>
										<div class="card-options ">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x text-white"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
									<div class="card-footer">
										This is Basic card footer
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card overflow-hidden">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Basic color card-footer</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
									<div class="card-footer bg-info ">
										<div class="text-white">Basic card footer</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-lg-6">
								<div class="card text-white bg-primary">
									<div class="card-header  border-transparent">
										<h3 class="card-title ">primary card title</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x text-white "></i></a>
										</div>
									</div>
									<div class="card-body">
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card text-white bg-secondary">
									<div class="card-header border-transparent">
										<h3 class="card-title ">Secondary card title</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up text-white"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x text-white "></i></a>
										</div>
									</div>
									<div class="card-body">
										<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Panel with custom buttons</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="btn btn-primary btn-sm">Action 1</a>
											<a href="javascript:renderPage('#')" class="btn btn-secondary btn-sm mr-2">Action 2</a>
										</div>
									</div>
									<div class="card-body">
										No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful actual teachings of the great explorer
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card with search form</h3>
										<div class="card-options">
											<form>
												<div class="input-group">
													<input type="text" class="form-control form-control-sm" placeholder="Search something..." name="s">
												</div>
											</form>
										</div>
									</div>
									<div class="card-body">
										No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful actual teachings of the great explorer
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card with alert</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-alert alert alert-success mb-0">
										Adding action was successful
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card with alert</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-alert alert alert-danger mb-0">
										Adding action failed
									</div>
									<div class="card-body">
										No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful actual teachings of the great explorer
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card with loader</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="dimmer active">
											<div class="spinner"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card with loader</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="dimmer active">
											<div class="spinner1">
											  <div class="double-bounce1"></div>
											  <div class="double-bounce2"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-lg-4">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">fullscreen button</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-fullscreen ml-2" data-toggle="card-fullscreen"><i class="fe fe-maximize"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card with switch</h3>
										<div class="card-options">
											<label class="custom-switch m-0">
												<input type="checkbox" value="1" class="custom-switch-input" checked="">
												<span class="custom-switch-indicator"></span>
											</label>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="card card-collapsed  overflow-hidden">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Initial collapsed card</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Built card</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="card overflow-hidden">
									<div class="card-status bg-blue"></div>
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card blue</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="card overflow-hidden">
									<div class="card-status card-status-right bg-red br-bl-7 br-tl-7"></div>
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Card status on left side</h3>
										<div class="card-options">
											<a href="javascript:renderPage('#')" class="card-options-collapse ml-2" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
											<a href="javascript:renderPage('#')" class="card-options-remove" data-toggle="card-remove"><i class="fe fe-x"></i></a>
										</div>
									</div>
									<div class="card-body">
										Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
									</div>
								</div>
							</div>

						</div>
