	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Apex Chart</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row row-deck">
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Area Chart With Randon data</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart-timeline" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Area Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											 <div id="chart" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Horizontal Bar Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart2" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Horizontal Stacked Bar Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart3" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Donut Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart4" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Pie Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart5" class="h-300 mh-300 mh-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Signle Radar Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart6" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Radar Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart7" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Radial Bar circle Chart</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart8" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 col-lg-6">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Radial Bar circle Chart Multiple</div>
									</div>
									<div class="card-body">
										<div class="chartjs-wrapper-demo">
											<div id="chart9" class="h-300 mh-300"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
	<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/apexchart/apexcharts.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/apexchart-custom.js"></script>
