	<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet">
	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">C3 Charts</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Bar Chart</h3>
									</div>
									<div class="card-body">
										<div id="chart-bar-stacked" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Multiple Bar chart</h3>
									</div>
									<div class="card-body">
										<div id="chart-bar" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Horizontal Bar chart</h3>
									</div>
									<div class="card-body">
										<div id="chart-bar-rotated" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Sales Growth in every Month</h3>
									</div>
									<div class="card-body">
										<div id="chart-employment" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 1</h3>
									</div>
									<div class="card-body">
										<div id="chart-sracked" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line chart 2</h3>
									</div>
									<div class="card-body">
										<div id="chart-spline-rotated" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 3</h3>
									</div>
									<div class="card-body">
										<div id="chart-temperature" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 4</h3>
									</div>
									<div class="card-body">
										<div id="chart-area-spline-sracked" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 5 </h3>
									</div>
									<div class="card-body">
										<div id="chart-spline" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 6</h3>
									</div>
									<div class="card-body">
										<div id="chart-area" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 7</h3>
									</div>
									<div class="card-body">
										<div id="chart-area-spline" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart with step</h3>
									</div>
									<div class="card-body">
										<div id="chart-area-step" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Line Chart 8</h3>
									</div>
									<div class="card-body">
										<div id="chart-step" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Pie Chart</h3>
									</div>
									<div class="card-body">
										<div id="chart-pie" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Pie Chart with Multiple colors</h3>
									</div>
									<div class="card-body">
										<div id="chart-pie2" class="chartsh "></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Donut Chart</h3>
									</div>
									<div class="card-body">
										<div id="chart-donut" class="chartsh donutShadow"></div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<h3 class="card-title">Donut Chart2</h3>
									</div>
									<div class="card-body">
										<div id="chart-donut2" class="chartsh donutShadow"></div>
									</div>
								</div>
							</div>
						</div>
	<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/charts-c3/d3.v5.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/charts-c3/c3-chart.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/charts.js"></script>
