<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/css/dataTables.bootstrap4.min-rtl.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet">
						
						<div class="page-header d-xl-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Employees</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
									<div class="btn-list">
										<a href="javascript:renderPage('hr-addemployee')" class="btn btn-primary ml-3">Add New Employee</a>
										<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
										<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
										<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
									</div>
								</div>
							</div>
						</div>			
<!-- Row-->
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total Employees</span>
              <h3 class="mb-0 mt-1 text-success">5,678</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-success-transparent my-auto float-left">
              <i class="las la-users"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total Male Employees</span>
              <h3 class="mb-0 mt-1 text-primary">3,876</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-primary-transparent my-auto float-left">
              <i class="las la-male"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total Female Employees</span>
              <h3 class="mb-0 mt-1 text-secondary">1,396</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-secondary-transparent my-auto float-left">
              <i class="las la-female"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-7">
            <div class="mt-0 text-right">
              <span class="font-weight-semibold">Total New Employees</span>
              <h3 class="mb-0 mt-1 text-danger">398</h3>
            </div>
          </div>
          <div class="col-5">
            <div class="icon1 bg-danger-transparent my-auto float-left">
              <i class="las la-user-friends"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row">
  <div class="col-xl-12 col-md-12 col-lg-12">
    <div class="card">
      <div class="card-header border-0">
        <h4 class="card-title">Employees List</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            class="table table-vcenter text-nowrap table-bordered border-bottom"
            id="hr-table"
          ></table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row-->
 <script>
// Load js files
$.cachedScript( "https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/jquery.dataTables.min.js", "https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/dataTables.bootstrap4.js", "https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/dataTables.responsive.min.js", "https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/dataTables.responsive.min.js").done(function( script, textStatus ) {

    // This client will now send requests as this user
  _supabase.from("employees_info").select('*')
    .then(({ data }) => {

      $("#hr-table").DataTable({
        data: data,
        columns: [
          { data: "id", title: "ت" },
          {
            data: "photo",
            render: function (data, type, row) {
              return (
                `<div class="d-flex">
			<span class="avatar avatar-md brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/person.png)"></span>
			<div class="mr-3 mt-0 mt-sm-1 d-block">
 <h6 class="mb-1 fs-14">` +
                row["emp_nam"] +
                `</h6>
 <p class="text-muted mb-0 fs-12">` +
                row["email"] +
                `</p>
 </div 
 </div>`
              );
            },
            title: "الاسم",
          },
          { data: "emp_id", title: "رقم الموظف" },
          { data: "address", title: "العنوان" },
          { data: "degree", title: "الدرجة" },
          { data: "mobile", title: "رقم التلفون" },
          { data: "mar_status", title: "الحالة الزوجية" },
          { data: "marital_status", title: "رقم الحالة الزوجية" },
          {
            data: "id",
            render: function (data, type, row) {
              return `<a class="btn btn-primary btn-icon btn-sm" href="javascript:renderPage('hr-empview?id=`+row['id']+`')">
<i class="feather feather-edit" data-toggle="tooltip" data-original-title="View/Edit"></i>
</a>
<a class="btn btn-danger btn-icon btn-sm" data-toggle="tooltip" data-original-title="Delete"><i class="feather feather-trash-2"></i></a>`;
            },
            title: "Actions",
          },
        ],
      });  
})
});
</script>
