	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Footer</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Footer style01</div>
									</div>
									<div class="">
										<div class="footer br-bl-7 br-br-7 border-top-0">
											<div class="container">
												<div class="row align-items-center">
													<div class="social">
														<ul class="text-center">
															<li>
																<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-facebook"></i></a>
															</li>
															<li>
																<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-twitter"></i></a>
															</li>
															<li>
																<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-rss"></i></a>
															</li>
															<li>
																<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-youtube"></i></a>
															</li>
															<li>
																<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-linkedin"></i></a>
															</li>
															<li>
																<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-google-plus"></i></a>
															</li>
														</ul>
													</div>
													<div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
														Copyright © 2021 <a href="javascript:renderPage('#')">Dayone</a>. Designed by <a href="javascript:renderPage('#')">Spruko Technologies Pvt.Ltd</a> All rights reserved.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Footer style02</div>
									</div>
									<div class="">
										<div class="footer br-bl-7 br-br-7 border-top-0">
											<div class="container">
												<div class="row align-items-center">
													<div class="col-lg-6 col-sm-12  col-md-5 mt-3 mt-lg-0 text-center d-none d-md-block">
														<div class="social">
															<ul class="text-center m-0">
																<li>
																	<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-facebook"></i></a>
																</li>
																<li>
																	<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-twitter"></i></a>
																</li>
																<li>
																	<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-rss"></i></a>
																</li>
																<li>
																	<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-youtube"></i></a>
																</li>
																<li>
																	<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-linkedin"></i></a>
																</li>
																<li>
																	<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-google-plus"></i></a>
																</li>
															</ul>
														</div>
													</div>
													<div class="col-lg-6 col-sm-12 col-md-7 mt-3 mt-lg-0 text-md-left">
														Copyright © 2020 <a href="javascript:renderPage('#')">Dayone</a>.All rights reserved.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card overflow-hidden">
									<div class="card-header border-bottom-0">
										<div class="card-title">Footer style03</div>
									</div>
									<div class="">
										<div class="footer br-bl-7 br-br-7 border-top-0 p-0">
											<div class="">
												<div class="p-3">
													<div class="row align-items-center text-center">
														<div class="col-lg-6 col-md-6 d-none d-md-block ">
															<div class="social">
																<ul class="text-center m-0 ">
																	<li>
																		<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-facebook"></i></a>
																	</li>
																	<li>
																		<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-twitter"></i></a>
																	</li>
																	<li>
																		<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-rss"></i></a>
																	</li>
																	<li>
																		<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-youtube"></i></a>
																	</li>
																	<li>
																		<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-linkedin"></i></a>
																	</li>
																	<li>
																		<a class="social-icon" href="javascript:renderPage('')"><i class="fa fa-google-plus"></i></a>
																	</li>
																</ul>
															</div>
														</div>
														<div class="col-lg-6 col-md-6 text-left privacy">
															<a href="javascript:renderPage('#')" class="btn btn-link">Privacy</a>
															<a href="javascript:renderPage('#')" class="btn btn-link">Terms</a>
															<a href="javascript:renderPage('#')" class="btn btn-link">About Us</a>
														</div>
													</div>
												</div>
												<div class="row align-items-center flex-row-reverse border-top">
													<div class="col-lg-12 col-sm-12 mt-lg-0 text-center p-4">
														Copyright © 2021 <a href="javascript:renderPage('#')">Dayone</a>. Designed by <a href="javascript:renderPage('#')">Spruko Technologies Pvt.Ltd</a> All rights reserved.
													</div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card overflow-hidden">
									<div class="card-header border-bottom-0">
										<div class="card-title">Footer style 04</div>
									</div>
									<div class="">
										<div class="footer br-bl-7 br-br-7 border-top-0 p-0">
											<div class="container">
												<div class="p-4">
													<div class="row align-items-center">
														<div class="col-lg-6 col-md-6 d-md-block ">
															Copyright © 2020 <a href="javascript:renderPage('#')">Dayone</a>.
														</div>
														<div class="col-lg-6 col-md-6 text-left privacy">
															<a href="javascript:renderPage('#')" class="btn btn-link">Privacy</a>
															<a href="javascript:renderPage('#')" class="btn btn-link">Terms</a>
															<a href="javascript:renderPage('#')" class="btn btn-link">About Us</a>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Footer style04</div>
									</div>
									<div class="">
										<div class="footer br-bl-7 br-br-7 border-top-0">
											<div class="container">
												<div class="row align-items-center flex-row-reverse">
													<div class="col-lg-12 col-sm-12 mt-3 mt-lg-0 text-center">
														Copyright © 2021 <a href="javascript:renderPage('#')">Dayone</a>. Designed by <a href="javascript:renderPage('#')">Spruko Technologies Pvt.Ltd</a> All rights reserved.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
