		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/gallery.css" rel="stylesheet">
	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Gallery</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="demo-gallery card">
							<div class="card-header border-bottom-0">
								<div class="card-title">Light Gallery</div>
							</div>
							<div class="card-body">
								<ul id="lightgallery" class="list-unstyled row">
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/1.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/1.jpg" data-sub-html="<h4>Gallery Image 1</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/1.jpg" alt="Thumb-1">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/2.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/2.jpg" data-sub-html="<h4>Gallery Image 2</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/2.jpg" alt="Thumb-2">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/3.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/3.jpg" data-sub-html="<h4>Gallery Image 3</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/3.jpg" alt="Thumb-1">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/4.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/4.jpg" data-sub-html=" <h4>Gallery Image 4</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/4.jpg" alt="Thumb-2">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/5.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/5.jpg" data-sub-html="<h4>Gallery Image 5</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/5.jpg" alt="Thumb-1">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/6.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/6.jpg" data-sub-html="<h4>Gallery Image 6</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/6.jpg" alt="Thumb-2">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/7.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/7.jpg" data-sub-html="<h4>Gallery Image 7</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/7.jpg" alt="Thumb-1">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/8.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/8.jpg" data-sub-html="<h4>Gallery Image 8</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/8.jpg" alt="Thumb-2">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/9.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/9.jpg" data-sub-html="<h4>Gallery Image 9</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/9.jpg" alt="Thumb-1">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/10.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/10.jpg" data-sub-html="<h4>Gallery Image 10</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/10.jpg" alt="Thumb-2">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/11.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/11.jpg" data-sub-html="<h4>Gallery Image 11</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/11.jpg" alt="Thumb-1">
										</a>
									</li>
									<li class="col-xs-6 col-sm-4 col-md-3" data-responsive="https://laravel.spruko.com/dayone/rtl/assets/images/photos/12.jpg" data-src="https://laravel.spruko.com/dayone/rtl/assets/images/photos/12.jpg" data-sub-html="<h4>Gallery Image 12</h4><p> Many desktop publishing packages and web page editors now use Lorem Ipsum</p>">
										<a href="javascript:renderPage('')">
											<img class="img-responsive" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/12.jpg" alt="Thumb-2">
										</a>
									</li>
								</ul>
							</div>
						</div>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/picturefill.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lightgallery.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lg-pager.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lg-autoplay.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lg-fullscreen.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lg-zoom.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lg-hash.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/lightgallery/lg-share.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/gallery.js"></script>
