		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/css/dataTables.bootstrap4.min-rtl.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet">
	<div class="page-header d-xl-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Mark Attendance</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class="d-flex align-items-end flex-wrap my-auto left-content breadcrumb-left">
									<div class="btn-list">
										<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
										<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
										<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-xl-12 col-md-12 col-lg-12">
								<div class="card">
									<div class="card-body">
										<div class="row">
											<div class="col-md-12 col-lg-3">
												<div class="form-group">
													<label class="form-label">Select Date:</label>
													<div class="input-group">
														<div class="input-group-prepend">
															<div class="input-group-text">
																<i class="feather feather-calendar"></i>
															</div>
														</div><input class="form-control fc-datepicker" placeholder="DD-MM-YYYY" type="text">
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="row">
											<div class="col-md-12">
												<div class="hr-checkall">
													<label class="custom-control custom-checkbox mb-0">
														<input type="checkbox" class="custom-control-input" id="checkAll">
														<span class="custom-control-label">Check All</span>
													</label>
												</div>
											</div>
										</div>
										<div class="table-responsive">
											<table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="hr-table">
												<thead>
													<tr>
														<th class="border-bottom-0 w-5">#Emp ID</th>
														<th class="border-bottom-0">Emp Name</th>
														<th class="border-bottom-0">Status</th>
														<th class="border-bottom-0">Clock In</th>
														<th class="border-bottom-0">Clock Out</th>
														<th class="border-bottom-0">IP Address</th>
														<th class="border-bottom-0">Working From</th>
														<th class="border-bottom-0">Attendance</th>
														<th class="border-bottom-0">Actions</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>#2987</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/1.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Faith Harris</h6>
																	<p class="text-muted mb-0 fs-12">Web Designer</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>09:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#4987</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/9.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Austin Bell</h6>
																	<p class="text-muted mb-0 fs-12">Angular Developer</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-danger-light">Absent</span></td>
														<td>09:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.2</td>
														<td>Office</td>
														<td><span class="badge badge-danger">Not Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal1">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#6729</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/2.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Maria Bower</h6>
																	<p class="text-muted mb-0 fs-12">Marketing analyst</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>09:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#2098</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/10.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Peter Hill</h6>
																	<p class="text-muted mb-0 fs-12">Testor</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-orange-light">Half Day</span></td>
														<td>09:30 AM</td>
														<td>01:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-danger">Not Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#halfpresentmodal">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#1025</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/3.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Victoria Lyman</h6>
																	<p class="text-muted mb-0 fs-12">General Manager</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>09:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#3262</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/11.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Adam Quinn</h6>
																	<p class="text-muted mb-0 fs-12">Accountant</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>09:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#3489</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/4.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Melanie Coleman</h6>
																	<p class="text-muted mb-0 fs-12">App Designer</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>09:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#3698</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/12.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Max Wilson</h6>
																	<p class="text-muted mb-0 fs-12">PHP Developer</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-info-light">Late</span></td>
														<td>10:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-danger">Not Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal1">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#5612</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/5.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Amelia Russell</h6>
																	<p class="text-muted mb-0 fs-12">UX Designer</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>10:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal1">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
													<tr>
														<td>#0245</td>
														<td>
															<div class="d-flex">
																<span class="avatar avatar-md brround ml-3" style="background-image: url(assets/images/users/13.jpg)"></span>
																<div class="mr-3 mt-0 mt-sm-1 d-block">
																	<h6 class="mb-1 fs-14">Justin Metcalfe</h6>
																	<p class="text-muted mb-0 fs-12">Web Designer</p>
																</div>
															</div>
														</td>
														<td><span class="badge badge-success-light">Present</span></td>
														<td>10:30 AM</td>
														<td>06:30 PM</td>
														<td>225.192.45.1</td>
														<td>Office</td>
														<td><span class="badge badge-success">Marked</span></td>
														<td>
															<div class="d-flex">
																<label class="custom-control custom-checkbox-md">
																	<input type="checkbox" class="custom-control-input-success" name="example-checkbox1" value="option1" checked="">
																	<span class="custom-control-label-md success"></span>
																</label>
																<a href="javascript:renderPage('#')" class="action-btns1 bg-light" data-toggle="modal" data-target="#presentmodal1">
																	<i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-original-title="View"></i>
																</a>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="card-footer">
										<a href="javascript:renderPage('#')" class="btn btn-primary float-right">Save All</a>
									</div>
								</div>
							</div>
						</div>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/dataTables.responsive.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/responsive.bootstrap4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/date-picker/jquery-ui.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/hr/hr-attmark.js"></script>
