<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/rating/css/ratings.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/rating/css/rating-themes.css">
						<div class="page-header d-xl-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">اضافة موظف</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class="align-items-end flex-wrap my-auto right-content breadcrumb-right">
									<div class="btn-list">
										<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
										<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
										<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
									</div>
								</div>
							</div>
						</div>
						

						
						<div class="row">
							<div class="col-xl-3 col-md-12 col-lg-12">
								<div class="card box-widget widget-user">
									<div class="card-body text-center">
										<div class="widget-user-image mx-auto text-center">
											<img class="avatar avatar-xxl brround rounded-circle" alt="img" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/1.jpg">
										</div>
										<div class="pro-user mt-3">
											<h5 class="pro-user-username text-dark mb-1 fs-16">Faith Harris</h5>
											<h6 class="pro-user-desc text-muted fs-12">تصميم مواقع</h6>
										</div>
										<div class="star-ratings start-ratings-main mb-0 clearfix">
											<div class="stars stars-example-fontawesome star-sm">
												<select id="example-fontawesome" name="rating">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4" selected="">4</option>
													<option value="5">5</option>
												</select>
											</div>
										</div>
									</div>
									<div class="card-footer p-0">
										<div class="row">
											<div class="col-4 text-center py-5 border-left">
												<h5 class="fs-12 font-weight-semibold mb-3">كانون الثاني</h5>
												<h5 class="mb-2">
													<span class="fs-18 text-success">0</span>
													<span class="my-auto fs-9 font-weight-normal  ml-1 mr-1">/</span>
													<span class="fs-18 font-weight-semibold text-dark">31</span>
												</h5>
												<h5 class="fs-12 mb-0">الحضور</h5>
											</div>
											<div class="col-4  py-5 text-center border-left">
												<h5 class="fs-12 font-weight-semibold mb-3">سنة-2021</h5>
												<h5 class="mb-2">
													<span class="fs-18 text-orange">0</span>
													<span class="my-auto fs-9 font-weight-normal  ml-1 mr-1">/</span>
													<span class="fs-18 font-weight-semibold text-dark">41</span>
												</h5>
												<h5 class="fs-12 mb-0">المغادرة</h5>
											</div>
											<div class="col-4 text-center py-5">
												<h5 class="fs-12 font-weight-semibold mb-3">سنة-2021</h5>
												<h5 class="mb-2">
													<span class="fs-18 text-primary">0</span>
												</h5>
												<h5 class="fs-12 mb-0">جوائز</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header  border-0">
										<div class="card-title">احصائيات-2021</div>
									</div>
									<div class="card-body">
										<div class="row mb-7">
											<div class="col-4 text-center">
												<div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#3366ff">
													<div class="chart-circle-value text-primary">0</div>
												</div>
												<h6 class="fs-14 font-weight-semibold mt-3">الحضور</h6>
											</div>
											<div class="col-4 text-center">
												<div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#fe7f00">
													<div class="chart-circle-value text-secondary">0</div>
												</div>
												<h6 class="fs-14 font-weight-semibold mt-3">مشاريع</h6>
											</div>
											<div class="col-4 text-center">
												<div class="chart-circle chart-circle-sm" data-value="0.00" data-thickness="5" data-color="#0dcd94">
													<div class="chart-circle-value text-success">0%</div>
												</div>
												<h6 class="fs-14 font-weight-semibold mt-3">الاداء</h6>
											</div>
										</div>
										<div class="d-flex align-items-end justify-content-between mg-b-5">
											<h6 class="">هذا الاسبوع</h6>
											<h6 class="font-weight-bold mb-1">0</h6>
										</div>
										<div class="progress progress-sm mb-5">
											<div class="progress-bar bg-danger w-0"></div>
										</div>
										<div class="d-flex align-items-end justify-content-between mg-b-5">
											<h6 class="">هذا الشهر</h6>
											<h6 class="font-weight-bold mb-1">0</h6>
										</div>
										<div class="progress progress-sm mb-5">
											<div class="progress-bar bg-info w-0"></div>
										</div>
										<div class="d-flex align-items-end justify-content-between mg-b-5">
											<h6 class="">هذه السنة</h6>
											<h6 class="font-weight-bold mb-1">0</h6>
										</div>
										<div class="progress progress-sm mb-5">
											<div class="progress-bar bg-warning w-0"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xl-9 col-md-12 col-lg-12">
								<div class="tab-menu-heading hremp-tabs p-0 ">
									<div class="tabs-menu1">
										
										<ul class="nav panel-tabs">
											<li class="mr-4"><a href="javascript:renderPage('#tab5')" class="active" data-toggle="tab">تفاصيل شخصية</a></li>
											<li><a href="javascript:renderPage('#tab6')" data-toggle="tab">تفاصيل الدائرة</a></li>
											<li><a href="javascript:renderPage('#tab7')" data-toggle="tab">تفاصيل البنك</a></li>
											<li><a href="javascript:renderPage('#tab8')" data-toggle="tab">تحميل الوثائق</a></li>
										</ul>
									</div>
								</div>
								<div class="panel-body tabs-menu-body hremp-tabs1 p-0">
									<div class="tab-content">
										<div class="tab-pane active" id="tab5">
											<div class="card-body">
												<h4 class="mb-4 font-weight-bold">اساسي</h4>
												<div class="form-group ">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">اسم المستخدم</label>
														</div>
														<div class="col-md-9">
															<div class="row">
																<div class="col-md-6">
																	<input type="text" class="form-control mb-md-0 mb-5" placeholder="First Name">
																	<span class="text-muted"></span>
																</div>
																<div class="col-md-6">
																	<input type="text" class="form-control" placeholder="Last Name">
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group ">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">اسم الاب</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Name">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رقم الاتصال</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Phone Number">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رقم الطوارئ 01</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Contact Number01">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رقم الطوارئ 02</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Contact Number02">
														</div>
													</div>
												</div>
												<div class="form-group ">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">تاريخ الولادة</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYY">
														</div>
													</div>
												</div>
												<div class="form-group ">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label">الجنس</label>
														</div>
														<div class="col-md-9">
															<div class="custom-controls-stacked d-md-flex">
																<label class="custom-control custom-radio ml-4">
																	<input type="radio" class="custom-control-input" name="example-radios4" value="option1">
																	<span class="custom-control-label">ذكر</span>
																</label>
																<label class="custom-control custom-radio">
																	<input type="radio" class="custom-control-input" name="example-radios4" value="option2">
																	<span class="custom-control-label">انثى</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">الحالة الزوجية</label>
														</div>
														<div class="col-md-9">
															<select name="projects" class="form-control custom-select select2" data-placeholder="Select">
																<option label="Select"></option>
																<option value="1">Single</option>
																<option value="2">Married</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">صنف الدم</label>
														</div>
														<div class="col-md-9">
															<select name="projects" class="form-control custom-select select2" data-placeholder="Select Group">
																<option label="Select Group"></option>
																<option value="1">A+</option>
																<option value="2">B+</option>
																<option value="3">O+</option>
																<option value="4">AB+</option>
																<option value="5">A-</option>
																<option value="6">B-</option>
																<option value="7">O-</option>
																<option value="8">AB-</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group ">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">البريد الالكتروني</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="email">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">العنوان الشخصي</label>
														</div>
														<div class="col-md-9">
															<textarea rows="3" class="form-control" placeholder="Address1"></textarea>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">العنوان الدائمي</label>
														</div>
														<div class="col-md-9">
															<textarea rows="3" class="form-control" placeholder="Address2"></textarea>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">تحميل الصورة</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-primary">
																		المتصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<h4 class="mb-5 mt-7 font-weight-bold">تسجيل الدخول</h4>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">البريد الالكتروني للموظف</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="employee email">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">كلمة المرور</label>
														</div>
														<div class="col-md-9">
															<input type="password" class="form-control" placeholder="password">
														</div>
													</div>
												</div>
												<div class="form-group mt-7">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label">اشعارات بريدية</label>
														</div>
														<div class="col-md-9">
															<label class="custom-switch">
																<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
																<span class="custom-switch-indicator"></span>
																<span class="custom-switch-description">On/Off</span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab6">
											<div class="card-body">
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رقم الموظف</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="#ID">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">القسم</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Department">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">التعيين</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Designation">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">تاريخ المباشرة</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">تاريخ الاستقالة</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">تاريخ الانهاء</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control fc-datepicker" placeholder="DD-MM-YYYY">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">اوراق الأتمان
																<span class="form-help" data-toggle="tooltip" data-placement="top" title="Unused leaves for the Employee">?</span>
															</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="0">
														</div>
													</div>
												</div>
												<h4 class="mb-5 mt-7 font-weight-bold">الراتب</h4>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">النوع</label>
														</div>
														<div class="col-md-9">
															<select name="projects" class="form-control custom-select select2" data-placeholder="Select Type">
																<option label="Select Type"></option>
																<option value="0">دوام الكلي</option>
																<option value="1">دوام جزئي</option>
															</select>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">الراتب</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="$Salary">
														</div>
													</div>
												</div>
												<div class="form-group mt-7">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label">الحالة:</label>
														</div>
														<div class="col-md-9">
															<label class="custom-switch">
																<input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
																<span class="custom-switch-indicator"></span>
																<span class="custom-switch-description">فعال/غير فعال</span>
															</label>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab7">
											<div class="card-body">
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">مالك الحساب</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Naame">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رقم الحساب</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Number">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">اسم المصرف</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Name">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">موقع الفرع</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Location">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رمز المصرف (IFSC)
																<span class="form-help" data-toggle="tooltip" data-placement="top" title="Bank Identify Number in your Country">?</span>
															</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="Code">
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<label class="form-label mb-0 mt-2">رمز دافع الضريبة (PAN)
																<span class="form-help" data-toggle="tooltip" data-placement="top" title="Taxpayer Identification Number Used in your Country">?</span>
															</label>
														</div>
														<div class="col-md-9">
															<input type="text" class="form-control" placeholder="ID No">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="tab8">
											<div class="card-body">
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">السيرة الذاتية</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		متصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">رقم الهوية</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		متصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">رسالة عرض</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		متصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">وثيقة انظمام</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		متصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">Agreement Letter</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		متصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
												<div class="form-group">
													<div class="row">
														<div class="col-md-3">
															<div class="form-label mb-0 mt-2">شهادة خبرة</div>
														</div>
														<div class="col-md-9">
															<div class="input-group file-browser">
																<input type="text" class="form-control border-left-0 browse-file" placeholder="choose" readonly="">
																<label class="input-group-append mb-0">
																	<span class="btn ripple btn-light">
																		المتصفح <input type="file" class="file-browserinput" style="display: none;" multiple="">
																	</span>
																</label>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer text-left">
											<a href="javascript:renderPage('#')" class="btn btn-primary">حفظ</a>
											<a href="javascript:renderPage('#')" class="btn btn-danger">الغاء</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						
<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/rating/js/jquery.barrating.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/rating/js/custom-ratings.js"></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/date-picker/jquery-ui.js"></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/hr/hr-empview.js"></script>			