		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/css/dataTables.bootstrap4.min-rtl.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/responsive.bootstrap4.min.css" rel="stylesheet">
		<link rel="stylesheet" href="javascript:renderPage('https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/summernote/summernote-bs4.css')">
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/modal-datepicker/datepicker.css" rel="stylesheet">
	<div class="page-header d-xl-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Notice Board</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class="d-flex align-items-end flex-wrap my-auto left-content breadcrumb-left">
									<div class="btn-list">
										<a href="javascript:renderPage('#')" class="btn btn-primary ml-3" data-toggle="modal" data-target="#addnoticemodal">Add New Notice</a>
										<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
										<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
										<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="card">
									<div class="card-header  border-0">
										<h4 class="card-title">Notice Summary</h4>
									</div>
									<div class="card-body">
										<div class="table-responsive">
											<table class="table  table-vcenter text-nowrap table-bordered border-bottom" id="hr-notice">
												<thead>
													<tr>
														<th class="border-bottom-0 w-5">No</th>
														<th class="border-bottom-0">Title</th>
														<th class="border-bottom-0">Description</th>
														<th class="border-bottom-0">To</th>
														<th class="border-bottom-0">Create On</th>
														<th class="border-bottom-0">Status</th>
														<th class="border-bottom-0">Action</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>01</td>
														<td>Board meeting Completed</td>
														<td>Attend the  company mangers & teamleads.</td>
														<td>Employees</td>
														<td>18-02-2021</td>
														<td><span class="badge badge-success">Active</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>02</td>
														<td>Updated the Company Policy</td>
														<td>some changes & add the terms & conditions.</td>
														<td>Employees</td>
														<td>16-02-2021</td>
														<td><span class="badge badge-success">Active</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>03</td>
														<td>Office Timings Changed</td>
														<td>This effetct after March 01st 9:00 Am To 5:00 Pm</td>
														<td>Employees</td>
														<td>17-02-2021</td>
														<td><span class="badge badge-success">Active</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>04</td>
														<td>Republic Day Celebrated</td>
														<td>Participate the all employess</td>
														<td>Employees</td>
														<td>26-01-2021</td>
														<td><span class="badge badge-success">Active</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>05</td>
														<td>Client meeting Completed</td>
														<td>Participate the all the managers</td>
														<td>Employees</td>
														<td>12-01-2021</td>
														<td><span class="badge badge-danger">InActive</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>06</td>
														<td>Update the Employee Leave Policy</td>
														<td>Participate the all employess</td>
														<td>Employees</td>
														<td>02-01-2021</td>
														<td><span class="badge badge-success">Active</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>07</td>
														<td>Faith Harris, Please sent the email</td>
														<td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</td>
														<td>Employees</td>
														<td>26-01-2021</td>
														<td><span class="badge badge-success">Active</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
													<tr>
														<td>08</td>
														<td>Update the Agreement Policy</td>
														<td>There are many variations of passages of  but the majority have suffered alteration </td>
														<td>Employees</td>
														<td>12-02-2021</td>
														<td><span class="badge badge-danger">InActive</span></td>
														<td>
														<div class="d-flex">
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="modal" data-target="#editnoticemodal"><i class="feather feather-eye primary text-primary" data-toggle="tooltip" data-placement="top" title="Edit/View"></i></a>
															<a href="javascript:renderPage('#')" class="action-btns1" data-toggle="tooltip" data-placement="top" title="Delete"><i class="feather feather-trash-2 text-danger"></i></a>
														</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/dataTables.responsive.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/datatable/responsive.bootstrap4.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/summernote/summernote-bs4.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/modal-datepicker/datepicker.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/hr/hr-notice.js"></script>
