		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/images-comparsion/twentytwenty.css" rel="stylesheet">
	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Image-Comparision</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Horizontal Image Comparison</div>
									</div>
									<div class="card-body">
										<div class="twentytwenty-container">
											<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/about.jpg" alt="img">
											<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/about2.jpg" alt="img">
										</div>
									</div>
								</div>
								<div class="card">
									<div class="card-header border-bottom-0">
										<div class="card-title">Vertical Image Comparison</div>
									</div>
									<div class="card-body">
										<div class="twentytwenty-container" data-orientation="vertical">
											<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/login.jpg" alt="img">
											<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/photos/login2.jpg" alt="img">
										</div>
									</div>
								</div>
								
							</div>
						</div>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/images-comparsion/jquery.twentytwenty.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/images-comparsion/jquery.event.move.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/image-comparision.js"></script>
