	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Media Object</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								
								<div class="card" id="media">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Basic Example
										</div>
									</div>
									<div class="card-body">
										<div class="media d-block d-sm-flex">
											<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/4.jpg">
											<div class="media-body pt-4 pt-sm-0">
												<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
												Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
											</div>
										</div>
									</div>
								</div>
								<div class="card" id="media1">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Nesting
										</div>
									</div>
									<div class="card-body">
										<div class="media d-block d-sm-flex">
											<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/9.jpg">
											<div class="media-body pt-4 pt-sm-0">
												<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
												<p>Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												<div class="media d-block d-sm-flex mg-t-25">
													<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/8.jpg">
													<div class="media-body">
														<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
														Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card" id="media2">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Alignment
										</div>
									</div>
									<div class="card-body">
										<div class="media d-block d-sm-flex">
											<img alt="" class="avatar avatar-xl brround ml-3 align-self-center" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/11.jpg">
											<div class="media-body pt-4 pt-sm-0">
												<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
												Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
											</div>
										</div>
									</div>
								</div>
								<div class="card" id="media3">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Order
										</div>
									</div>
									<div class="card-body">
										<div class="media d-block d-sm-flex">
											<div class="media-body mb-4 mb-sm-0">
												<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
												Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
											</div>
											<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/12.jpg">
										</div>
									</div>
								</div>
								<div class="card" id="media4">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Media List
										</div>
									</div>
									<div class="card-body">
										<ul class="list-unstyled mb-0">
											<li class="media d-block d-sm-flex border-0">
												<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/2.jpg">
												<div class="media-body pt-4 pt-sm-0">
													<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
													Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
												</div>
											</li>
											<li class="media d-block d-sm-flex mt-5 border-0">
												<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/12.jpg">
												<div class="media-body pt-4 pt-sm-0">
													<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
													Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
												</div>
											</li>
											<li class="media d-block d-sm-flex mt-5 border-0">
												<img alt="" class="avatar avatar-xl brround ml-3" src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/2.jpg">
												<div class="media-body pt-4 pt-sm-0">
													<h5 class="mg-b-5 tx-inverse tx-15">Media heading</h5>
													Lorem Ipsum generators on the Internet as necessary aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit
												</div>
											</li>
										</ul>
									</div>
								</div>
								
							</div>
						</div>
