
    <p>Drive API Quickstart</p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" onclick="handleAuthClick()">الصلاحيات</button>
    <button id="signout_button" onclick="handleSignoutClick()">تسجيل خروج</button>
    <button id="signme" onclick="listFiles()">قائمة الملفات</button>

    <pre id="content" style="white-space: pre-wrap;">pokopsk</pre>


