
    <p>Drive API Quickstart</p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize_button" onclick="handleAuthClick()">Authorize</button>
    <button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
    <button id="signme" onclick="listFiles()">listfiles</button>

    <pre id="content" style="white-space: pre-wrap;">pokopsk</pre>


