	<div class="page-header d-lg-flex d-block">
							<div class="page-leftheader">
								<h4 class="page-title">Popover</h4>
							</div>
							<div class="page-leftheader mr-md-auto">
								<div class=" btn-list">
									<button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="E-mail"> <i class="feather feather-mail"></i> </button>
									<button class="btn btn-light" data-placement="top" data-toggle="tooltip" title="Contact"> <i class="feather feather-phone-call"></i> </button>
									<button class="btn btn-primary" data-placement="top" data-toggle="tooltip" title="Info"> <i class="feather feather-info"></i> </button>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								
								<div class="card mb-4" id="popover">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Default Popover
										</div>
									</div>
									<div class="card-body">

										<div class="form-label mb-2">
											Static Example
										</div>
										<div class="popover-static-demo mb-4 border br-3 pb-6">
											<div class="row row-sm">
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-top">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover top</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-bottom">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover Bottom</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-left">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover Left</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover bs-popover-right">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover Right</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-label mb-2">
											Example
										</div>
										<div class="px-4 bg-light border br-3 pt-4 pb-5">
											<div class="row row-sm text-center">
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-primary" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="top" data-popover-color="default" data-toggle="popover" title="Popover top">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-success" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="left" data-popover-color="default" data-toggle="popover" title="Popover left">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-danger" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="right" data-popover-color="default" data-toggle="popover" title="Popover right">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-warning" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="bottom" data-popover-color="default" data-toggle="popover" title="Popover bottom">Click me</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card mb-4" id="popover1">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Colored Head Popover
										</div>
									</div>
									<div class="card-body">
										<div class="form-label mb-2">
											Static Example
										</div>
										<div class="popover-static-demo mb-4">
											<div class="row row-sm">
												<div class="col-md-6">
													<div class="popover popover-head-primary bs-popover-top">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover top</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-5 mt-md-0">
													<div class="popover popover-head-secondary bs-popover-top">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover Bottom</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-label mb-2">
											Example
										</div>
										<div class="px-4 bg-light border br-3 pt-4 pb-5">
											<div class="row row-sm text-center">
												<div class="col-sm-6 col-lg-3  mt-3 text-center">
													<button class="btn btn-primary" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="top" data-popover-color="head-primary" title="Popover top">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3 text-center">
													<button class="btn btn-primary" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="bottom" data-popover-color="head-secondary" title="Popover bottom">Click me</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="card" id="popover2">
									<div class="card-header border-bottom-0">
										<div class="card-title">
											Full Colored Popover
										</div>
									</div>
									<div class="card-body">
										<div class="form-label mb-2">
											Static Example
										</div>
										<div class="popover-static-demo mb-4 pb-6">
											<div class="row row-sm">
												<div class="col-md-6 mt-4">
													<div class="popover popover-primary bs-popover-top">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover top</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
												<div class="col-md-6 mt-4">
													<div class="popover popover-secondary bs-popover-bottom">
														<div class="arrow"></div>
														<h3 class="popover-header">Popover Bottom</h3>
														<div class="popover-body">
															<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-label mb-2">
											Example
										</div>
										<div class="px-4 bg-light border br-3 pb-5 pt-4">
											<div class="row row-sm text-center">
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-primary" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="top" data-popover-color="primary" title="Popover top">Click me</button>
												</div>
												<div class="col-sm-6 col-lg-3 mt-3">
													<button class="btn btn-primary" data-container="body" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-placement="bottom" data-popover-color="secondary" title="Popover bottom">Click me</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
        <script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/popover.js"></script>
