	<body class="">
        <div class="page login-bg">
            <div class="page-single">
                <div class="container">
                    <div class="row">
                        <div class="col mx-auto">
                            <div class="row justify-content-center">
                                <div class="col-md-7 col-lg-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center mb-4">
                                                <span class="avatar avatar-xxl brround" style="background-image: url(assets/images/users/16.jpg)"></span>
                                            </div>
                                            <div class="m-4 d-none d-lg-block text-center">
                                                <h4 class="user-name"></h4>
                                            </div>
                                            <a href="javascript:window.location.href = 'https://zcvcfteklhchxzkllsiu.supabase.co/auth/v1/authorize?provider=google';" class="btn btn-primary btn-block"><i class="fe fe-arrow-right"></i> Unlock</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</body>
</html>
