<!DOCTYPE html>
<html lang="en" dir="rtl">
	<head>

		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="DayOne - It is one of the Major Dashboard Template which includes - HR, Employee and Job Dashboard. This template has multipurpose HTML template and also deals with Task, Project, Client and Support System Dashboard." name="description">
		<meta content="Spruko Technologies Private Limited" name="author">
		<meta name="keywords" content="admin dashboard, dashboard ui, backend, admin panel, admin template, dashboard template, admin, bootstrap, laravel, laravel admin panel, php admin panel, php admin dashboard, laravel admin template, laravel dashboard, laravel admin panel">

		
		<title>جامعة تكنولوجيا المعلومات والاتصالات الذكية</title>

        
		<link rel="icon" href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/brand/favicon.ico" type="image/x-icon">

		
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

		
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/css-rtl/style.css" rel="stylesheet">
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/animated/animated.css" rel="stylesheet">

		
        <link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/css-rtl/sidemenu.css" rel="stylesheet">

		
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet">

		
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/icons/icons.css" rel="stylesheet">

		
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/sidebar/sidebar.css" rel="stylesheet">

		
		<link href="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/select2/select2.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/@weavy/dropin-js/dist/weavy-dropin.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdn.jsdelivr.net/npm/@weavy/dropin-js/dist/weavy-dropin.js"></script>

	</head>

	<body id="htmlpage" class="app sidebar-mini" id="index1">

		<div id="global-loader">
			<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/svgs/loader.svg" alt="loader">
		</div>

		<div id="global-page" class="page">
			<div class="page-main">

                
				<aside class="app-sidebar">
					<div class="app-sidebar__logo">
						<a class="header-brand" href="javascript:renderPage('/')">
							<img src="assets/smartuoitc.png" class="header-brand-img desktop-lgo" alt="SmartUOITC">
							<img src="assets/smartuoitc.png" class="header-brand-img dark-logo" alt="SmartUOITC">
							<img src="assets/smartuoitcicon.png" class="header-brand-img mobile-logo" alt="SmartUOITC">
							<img src="assets/smartuoitcicon.png" class="header-brand-img darkmobile-logo" alt="SmartUOITC">
						</a>
					</div>
					<div class="app-sidebar3">
						<div class="app-sidebar__user">
							<div class="dropdown user-pro-body text-center">
								<div class="user-pic">
									<img src="" alt="user-img" class="avatar-xxl rounded-circle mb-1">
								</div>
								<div class="user-info">
									<h5 class="user-name mb-2"></h5>
									<span class="text-muted app-sidebar__user-name text-sm">Web Developer</span>
								</div>
							</div>
						</div>
						<ul class="side-menu">
							<li class="side-item side-item-category mt-4">Dashboards</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-home sidemenu_icon"></i>
									<span class="side-menu__label">HR Dashboard</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
                  <li><a href="javascript:renderPage('mydrv')" class="slide-item">mydrvejs</a></li>
                  <li><a href="javascript:renderPage('push')" class="slide-item">push</a></li>
									<li><a href="javascript:renderPage('#')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('hr-department')" class="slide-item">Department</a></li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Employees</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('employees-info')">Employees List</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-empview')">View Employee</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-addemployee')">Add Employee</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Attendance</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-attlist')">Attendance List</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-attuser')">Attendance By User</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-attview')">Attendance View</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-overviewcldr')">Overview Calender</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-attmark')">Attendance Mark </a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-leaves')">Leave Settings</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-leavesapplication')">Leave Applications</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-recentleaves')">Recent Leaves </a></li>
										</ul>
									</li>
									<li><a href="javascript:renderPage('hr-award')" class="slide-item">Awards</a></li>
									<li><a href="javascript:renderPage('hr-holiday')" class="slide-item">Holidays</a></li>
									<li><a href="javascript:renderPage('hr-notice')" class="slide-item">Notice Board</a></li>
									<li><a href="javascript:renderPage('hr-expenses')" class="slide-item">Expenses</a></li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Payroll</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-empsalary')">Employee Salary</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-addpayroll')">Add Payroll</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('hr-editpayroll')">Edit Payroll</a></li>
										</ul>
									</li>
									<li><a href="javascript:renderPage('hr-events')" class="slide-item">Events</a></li>
									<li><a href="javascript:renderPage('hr-settings')" class="slide-item">Settings</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather  feather-users sidemenu_icon"></i>
									<span class="side-menu__label">Employee Dashboard</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('index2')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('employee-attendance')" class="slide-item">Attendance</a></li>
									<li><a href="javascript:renderPage('employee-leaves')" class="slide-item">Apply Leaves </a></li>
									<li><a href="javascript:renderPage('employee-myleaves')" class="slide-item">My Leaves </a></li>
									<li><a href="javascript:renderPage('employee-payslips')" class="slide-item">Payslips </a></li>
									<li><a href="javascript:renderPage('employee-expenses')" class="slide-item">Expenses</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-clipboard sidemenu_icon"></i>
									<span class="side-menu__label">Task Dashboard</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('index3')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('task-list')" class="slide-item">Task List</a></li>
									<li><a href="javascript:renderPage('task-running')" class="slide-item">Running Tasks</a></li>
									<li><a href="javascript:renderPage('task-hold')" class="slide-item">OnHold Tasks</a></li>
									<li><a href="javascript:renderPage('task-complete')" class="slide-item">Completed Tasks</a></li>
									<li><a href="javascript:renderPage('task-view')" class="slide-item">View Task</a></li>
									<li><a href="javascript:renderPage('task-overclndr')" class="slide-item">Overview Calendar</a></li>
									<li><a href="javascript:renderPage('task-board')" class="slide-item">Task Board</a></li>
									<li><a href="javascript:renderPage('task-new')" class="slide-item">New Task</a></li>
									<li><a href="javascript:renderPage('task-profile')" class="slide-item">User Profile</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-book sidemenu_icon"></i>
									<span class="side-menu__label">Project Dashboard</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('index4')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('project-list')" class="slide-item">Project List</a></li>
									<li><a href="javascript:renderPage('project-view')" class="slide-item">View Project</a></li>
									<li><a href="javascript:renderPage('project-overclndr')" class="slide-item">Overview Calendar</a></li>
									<li><a href="javascript:renderPage('project-new')" class="slide-item">New Project</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-user sidemenu_icon"></i>
									<span class="side-menu__label">Client Dashboard</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('index5')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('client-list')" class="slide-item">Client List</a></li>
									<li><a href="javascript:renderPage('client-view')" class="slide-item">View Client</a></li>
									<li><a href="javascript:renderPage('client-new')" class="slide-item">New Client</a></li>
									<li><a href="javascript:renderPage('client-profile')" class="slide-item">User Profile</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-briefcase sidemenu_icon"></i>
									<span class="side-menu__label">Job Dashboard</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('index6')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('job-list')" class="slide-item">Job Lists</a></li>
									<li><a href="javascript:renderPage('job-view')" class="slide-item">Job View</a></li>
									<li><a href="javascript:renderPage('job-applictaion')" class="slide-item">Job Applications</a></li>
									<li><a href="javascript:renderPage('job-apply')" class="slide-item">Apply Job</a></li>
									<li><a href="javascript:renderPage('job-new')" class="slide-item">New Job</a></li>
									<li><a href="javascript:renderPage('job-user')" class="slide-item">User Profile</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-headphones sidemenu_icon"></i>
									<span class="side-menu__label">Support System</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Landing Pages</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('support-landing')">Landing Page</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-knowledge')">Knowledge Page</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-knowledgeview')">Knowledge View</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">User Pages</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('support-userdash')">Dashboard</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-editprofile')">Profile</a></li>
											<li class="sub-slide2">
												<a class="sub-side-menu__item2" href="javascript:renderPage('#')" data-toggle="sub-slide2"><span class="sub-side-menu__label2">Tickets</span><i class="sub-angle2 fa fa-angle-left"></i></a>
												<ul class="sub-slide-menu2">
													<li><a href="javascript:renderPage('support-ticketlist')" class="sub-slide-item2">Ticket List</a></li>
													<li><a href="javascript:renderPage('support-ticketactive')" class="sub-slide-item2">Active Tickets</a></li>
													<li><a href="javascript:renderPage('support-ticketclosed')" class="sub-slide-item2">Closed Tickets</a></li>
													<li><a href="javascript:renderPage('support-ticketcreate')" class="sub-slide-item2">Create Ticket</a></li>
													<li><a href="javascript:renderPage('support-ticketview')" class="sub-slide-item2">View Ticket</a></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class="sub-slide">
										<a href="javascript:renderPage('#')" class="sub-side-menu__item" data-toggle="sub-slide"><span class="sub-side-menu__label">Admin</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('support-admindash')">Dashboard</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-admineditprofile')">Edit Profile</a></li>
											<li class="sub-slide2">
												<a class="sub-side-menu__item2" href="javascript:renderPage('#')" data-toggle="sub-slide2"><span class="sub-side-menu__label2">Tickets</span><i class="sub-angle2 fa fa-angle-left"></i></a>
												<ul class="sub-slide-menu2">
													<li><a href="javascript:renderPage('support-adminticketlist')" class="sub-slide-item2">Ticket List</a></li>
													<li><a href="javascript:renderPage('support-adminticketactive')" class="sub-slide-item2">Active Tickets</a></li>
													<li><a href="javascript:renderPage('support-adminticketclosed')" class="sub-slide-item2">Closed Tickets</a></li>
													<li><a href="javascript:renderPage('support-adminticketnew')" class="sub-slide-item2">New Ticket</a></li>
													<li><a href="javascript:renderPage('support-adminticketview')" class="sub-slide-item2">View Ticket</a></li>
												</ul>
											</li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-admincustomer')">Customers</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-admincategories')">Categories</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-adminarticles')">Articles</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a href="javascript:renderPage('#')" class="sub-side-menu__item" data-toggle="sub-slide"><span class="sub-side-menu__label">Agent</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('support-agentdash')">Dashboard</a></li>
											<li class="sub-slide2">
												<a class="sub-side-menu__item2" href="javascript:renderPage('#')" data-toggle="sub-slide2"><span class="sub-side-menu__label2">Tickets</span><i class="sub-angle2 fa fa-angle-left"></i></a>
												<ul class="sub-slide-menu2">
													<li><a href="javascript:renderPage('support-agentticketlist')" class="sub-slide-item2">Ticket List</a></li>
													<li><a href="javascript:renderPage('support-agentticketactive')" class="sub-slide-item2">Active Tickets</a></li>
													<li><a href="javascript:renderPage('support-agentticketclosed')" class="sub-slide-item2">Closed Tickets</a></li>
													<li><a href="javascript:renderPage('support-agentticketview')" class="sub-slide-item2">View Ticket</a></li>
												</ul>
											</li>
											<li><a class="sub-slide-item" href="javascript:renderPage('support-agentassign')">Assigned Categories</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" href="javascript:renderPage('chat-livechat')">
									<i class="feather feather-message-square sidemenu_icon"></i>
									<span class="side-menu__label">Chat</span>
								</a>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-airplay sidemenu_icon"></i>
									<span class="side-menu__label">Admin</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('admin-general')" class="slide-item">General Settings</a></li>
									<li><a href="javascript:renderPage('admin-api')" class="slide-item">API Settings</a></li>
									<li><a href="javascript:renderPage('admin-role')" class="slide-item">Role Access</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
									<i class="feather feather-slack sidemenu_icon"></i>
									<span class="side-menu__label">Super Admin</span><i class="angle fa fa-angle-left"></i>
								</a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('index7')" class="slide-item">Dashboard</a></li>
									<li><a href="javascript:renderPage('superadmin-company')" class="slide-item">Companies</a></li>
									<li><a href="javascript:renderPage('superadmin-subscription')" class="slide-item">Subscription Plans</a></li>
									<li><a href="javascript:renderPage('superadmin-invoices')" class="slide-item">Invoices</a></li>
									<li><a href="javascript:renderPage('superadmin-admins')" class="slide-item">Super Admins</a></li>
									<li><a href="javascript:renderPage('superadmin-settings')" class="slide-item">Settings</a></li>
									<li><a href="javascript:renderPage('superadmin-role')" class="slide-item">Role Access</a></li>
								</ul>
							</li>
							<li class="side-item side-item-category">Apps</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-server sidemenu_icon"></i>
								<span class="side-menu__label">Components</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">

									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Chat</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('chat')">Chat</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('chat2')">Chat 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('chat3')">Chat 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Contact</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('contact-list')">Contact list</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('contact-list2')">Contact list 02</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">File Manager</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('file-manager')">File Manager</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('file-manager-list')">File Manager 02</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Todo List</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('todo-list')">Todo List</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('todo-list2')">Todo List 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('todo-list3')">Todo List 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">User List</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('users-list1')">User List 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('users-list2')">User List 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('users-list3')">User List 03</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('users-list4')">User List 04</a></li>
										</ul>
									</li>
									<li><a href="javascript:renderPage('calendar')" class="slide-item"> Calendar</a></li>
									<li><a href="javascript:renderPage('dragula')" class="slide-item"> Dragula Card</a></li>
									<li><a href="javascript:renderPage('cookies')" class="slide-item"> Cookies</a></li>
									<li><a href="javascript:renderPage('image-comparison')" class="slide-item"> Image Comparison</a></li>
									<li><a href="javascript:renderPage('page-sessiontimeout')" class="slide-item"> Page-sessiontimeout</a></li>
									<li><a href="javascript:renderPage('notify')" class="slide-item"> Notifications</a></li>
									<li><a href="javascript:renderPage('sweetalert')" class="slide-item"> Sweet alerts</a></li>
									<li><a href="javascript:renderPage('rangeslider')" class="slide-item"> Range slider</a></li>
									<li><a href="javascript:renderPage('counters')" class="slide-item"> Counters</a></li>
									<li><a href="javascript:renderPage('loaders')" class="slide-item"> Loaders</a></li>
									<li><a href="javascript:renderPage('time-line')" class="slide-item"> Time Line</a></li>
									<li><a href="javascript:renderPage('rating')" class="slide-item"> Rating</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-layers sidemenu_icon"></i>
								<span class="side-menu__label">Elements</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('accordion')" class="slide-item"> Accordion</a></li>
									<li><a href="javascript:renderPage('alerts')" class="slide-item"> Alerts</a></li>
									<li><a href="javascript:renderPage('avatars')" class="slide-item"> Avatars</a></li>
									<li><a href="javascript:renderPage('badge')" class="slide-item"> Badges</a></li>
									<li><a href="javascript:renderPage('breadcrumbs')" class="slide-item"> Breadcrumb</a></li>
									<li><a href="javascript:renderPage('buttons')" class="slide-item"> Buttons</a></li>
									<li><a href="javascript:renderPage('cards')" class="slide-item"> Cards</a></li>
									<li><a href="javascript:renderPage('cards-image')" class="slide-item"> Card Images</a></li>
									<li><a href="javascript:renderPage('carousel')" class="slide-item"> Carousel</a></li>
									<li><a href="javascript:renderPage('dropdown')" class="slide-item"> Dropdown</a></li>
									<li><a href="javascript:renderPage('footers')" class="slide-item"> Footers</a></li>
									<li><a href="javascript:renderPage('headers')" class="slide-item"> Headers</a></li>
									<li><a href="javascript:renderPage('jumbotron')" class="slide-item"> Jumbotron</a></li>
									<li><a href="javascript:renderPage('list-listgroup')" class="slide-item"> Lists & List Group</a></li>
									<li><a href="javascript:renderPage('media-object')" class="slide-item"> Media Obejct</a></li>
									<li><a href="javascript:renderPage('modal')" class="slide-item"> Modal</a></li>
									<li><a href="javascript:renderPage('navigation')" class="slide-item"> Navigation</a></li>
									<li><a href="javascript:renderPage('pagination')" class="slide-item"> Pagination</a></li>
									<li><a href="javascript:renderPage('panels')" class="slide-item"> Panel</a></li>
									<li><a href="javascript:renderPage('popover')" class="slide-item"> Popover</a></li>
									<li><a href="javascript:renderPage('progress')" class="slide-item"> Progress</a></li>
									<li><a href="javascript:renderPage('tabs')" class="slide-item"> Tabs</a></li>
									<li><a href="javascript:renderPage('tags')" class="slide-item"> Tags</a></li>
									<li><a href="javascript:renderPage('tooltip')" class="slide-item"> Tooltips</a></li>
								</ul>
							</li>
							<li class="side-item side-item-category">Forms & Charts</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-file sidemenu_icon"></i>
								<span class="side-menu__label">Forms</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('form-elements')" class="slide-item"> Form Elements</a></li>
									<li><a href="javascript:renderPage('advanced-forms')" class="slide-item"> Advanced Forms</a></li>
									<li><a href="javascript:renderPage('form-wizard')" class="slide-item"> Form Wizard</a></li>
									<li><a href="javascript:renderPage('form-editor')" class="slide-item"> Form Editor</a></li>
									<li><a href="javascript:renderPage('form-sizes')" class="slide-item"> Form Element Sizes</a></li>
									<li><a href="javascript:renderPage('form-treeview')" class="slide-item"> Form Treeview</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-bar-chart sidemenu_icon"></i>
								<span class="side-menu__label">Charts</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('chart-chartist')" class="slide-item">Chartjs Charts</a></li>
									<li><a href="javascript:renderPage('chart-morris')" class="slide-item"> Morris Charts</a></li>
									<li><a href="javascript:renderPage('chart-apex')" class="slide-item"> Apex Charts</a></li>
									<li><a href="javascript:renderPage('chart-peity')" class="slide-item"> Pie Charts</a></li>
									<li><a href="javascript:renderPage('chart-echart')" class="slide-item"> Echart Charts</a></li>
									<li><a href="javascript:renderPage('chart-flot')" class="slide-item"> Flot Charts</a></li>
									<li><a href="javascript:renderPage('chart-c3')" class="slide-item">C3 Charts</a></li>
								</ul>
							</li>
							<li class="side-item side-item-category">Widgets & Maps </li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-codepen sidemenu_icon"></i>
								<span class="side-menu__label">Widgets</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('widgets1')" class="slide-item">Widgets</a></li>
									<li><a href="javascript:renderPage('widgets2')" class="slide-item">Chart Widgets</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-map-pin sidemenu_icon"></i>
								<span class="side-menu__label">Maps</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('maps')" class="slide-item">Vector Maps</a></li>
									<li><a href="javascript:renderPage('maps2')" class="slide-item">Leaflet Maps</a></li>
									<li><a href="javascript:renderPage('maps3')" class="slide-item">Mapel Maps</a></li>
								</ul>
							</li>
							<li class="side-item side-item-category">Icons & Tables</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-layout sidemenu_icon"></i>
								<span class="side-menu__label">Tables</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('tables')" class="slide-item">Default table</a></li>
									<li><a href="javascript:renderPage('datatable')" class="slide-item">Data Table</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-compass sidemenu_icon"></i>
								<span class="side-menu__label">Icons</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('icons')" class="slide-item"> Font Awesome</a></li>
									<li><a href="javascript:renderPage('icons2')" class="slide-item"> Material Design Icons</a></li>
									<li><a href="javascript:renderPage('icons3')" class="slide-item"> Simple Line Icons</a></li>
									<li><a href="javascript:renderPage('icons4')" class="slide-item"> Feather Icons</a></li>
									<li><a href="javascript:renderPage('icons5')" class="slide-item"> Ionic Icons</a></li>
									<li><a href="javascript:renderPage('icons6')" class="slide-item"> Flag Icons</a></li>
									<li><a href="javascript:renderPage('icons7')" class="slide-item"> pe7 Icons</a></li>
									<li><a href="javascript:renderPage('icons8')" class="slide-item"> Themify Icons</a></li>
									<li><a href="javascript:renderPage('icons9')" class="slide-item">Typicons Icons</a></li>
									<li><a href="javascript:renderPage('icons10')" class="slide-item">Weather Icons</a></li>
									<li><a href="javascript:renderPage('icons11')" class="slide-item">Material Icons</a></li>
								</ul>
							</li>
							<li class="side-item side-item-category">Pages</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-copy sidemenu_icon"></i>
								<span class="side-menu__label">Pages</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Profile</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('profile1')">Profile 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('profile2')">Profile 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('profile3')">Profile 03</a></li>
										</ul>
									</li>
									<li><a href="javascript:renderPage('editprofile')" class="slide-item"> Edit Profile</a></li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Email</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('email-compose')">Email Compose</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('email-inbox')">Email Inbox</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('email-read')">Email Read</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Pricing</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('pricing')">Pricing 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('pricing2')">Pricing 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('pricing3')">Pricing 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Invoice</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('invoice-list')">Invoice list</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('invoice1')">Invoice 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('invoice2')">Invoice 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('invoice3')">Invoice 03</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('invoice-add')">Add Invoice</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('invoice-edit')">Edit Invoice</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Blog</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('blog')">Blog 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('blog2')">Blog 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('blog3')">Blog 03</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('blog-styles')">Blog Styles</a></li>
										</ul>
									</li>
									<li><a href="javascript:renderPage('gallery')" class="slide-item"> Gallery</a></li>
									<li><a href="javascript:renderPage('faq')" class="slide-item"> FAQS</a></li>
									<li><a href="javascript:renderPage('terms')" class="slide-item"> Terms</a></li>
									<li><a href="javascript:renderPage('emptypage')" class="slide-item"> Empty Page</a></li>
									<li><a href="javascript:renderPage('search')" class="slide-item"> Search</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-shopping-cart sidemenu_icon"></i>
								<span class="side-menu__label">E-commerce</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('products')" class="slide-item"> Products</a></li>
									<li><a href="javascript:renderPage('product-details')" class="slide-item"> Products Details</a></li>
									<li><a href="javascript:renderPage('cart')" class="slide-item"> Shopping Cart</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-aperture sidemenu_icon"></i>
								<span class="side-menu__label">Utils</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('element-colors')" class="slide-item"> Colors</a></li>
									<li><a href="javascript:renderPage('element-flex')" class="slide-item"> Flex Items</a></li>
									<li><a href="javascript:renderPage('element-height')" class="slide-item"> Height</a></li>
									<li><a href="javascript:renderPage('elements-border')" class="slide-item"> Border</a></li>
									<li><a href="javascript:renderPage('elements-display')" class="slide-item"> Display</a></li>
									<li><a href="javascript:renderPage('elements-margin')" class="slide-item"> Margin</a></li>
									<li><a href="javascript:renderPage('elements-paddning')" class="slide-item"> Padding</a></li>
									<li><a href="javascript:renderPage('element-typography')" class="slide-item"> Typhography</a></li>
									<li><a href="javascript:renderPage('element-width')" class="slide-item"> Width</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-lock sidemenu_icon"></i>
								<span class="side-menu__label">Account</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Login</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('login1')">Login 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('login2')">Login 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('login3')">Login 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Register</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('register1')">Register 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('register2')">Register 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('register3')">Register 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Forgot Password</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('forgot-password1')">Forgot Password 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('forgot-password2')">Forgot Password 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('forgot-password3')">Forgot Password 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Reset Password</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('reset-password1')">Reset Password 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('reset-password2')">Reset Password 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('reset-password3')">Reset Password 03</a></li>
										</ul>
									</li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Lock Screen</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('lockscreen1')">Lock Screen 01</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('lockscreen2')">Lock Screen 02</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('lockscreen3')">Lock Screen 03</a></li>
										</ul>
									</li>
									<li><a href="javascript:renderPage('construction')" class="slide-item"> Under Construction</a></li>
									<li><a href="javascript:renderPage('coming')" class="slide-item"> Coming Soon</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-alert-octagon sidemenu_icon"></i>
								<span class="side-menu__label">Alert Messages</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('message-success')" class="slide-item">Success Message</a></li>
									<li><a href="javascript:renderPage('message-warning')" class="slide-item">Warning Message</a></li>
									<li><a href="javascript:renderPage('message-danger')" class="slide-item">Danger Message</a></li>
								</ul>
							</li>
							<li class="slide">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-alert-triangle sidemenu_icon"></i>
								<span class="side-menu__label">Error Pages</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('error400')" class="slide-item"> 400</a></li>
									<li><a href="javascript:renderPage('error401')" class="slide-item"> 401</a></li>
									<li><a href="javascript:renderPage('error403')" class="slide-item"> 403</a></li>
									<li><a href="javascript:renderPage('error404')" class="slide-item"> 404</a></li>
									<li><a href="javascript:renderPage('error500')" class="slide-item"> 500</a></li>
									<li><a href="javascript:renderPage('error503')" class="slide-item"> 503</a></li>
								</ul>
							</li>
							<li class="slide ">
								<a class="side-menu__item" data-toggle="slide" href="javascript:renderPage('#')">
								<i class="feather feather-sliders sidemenu_icon"></i>
								<span class="side-menu__label">Submenus</span><i class="angle fa fa-angle-left"></i></a>
								<ul class="slide-menu">
									<li><a href="javascript:renderPage('#')" class="slide-item">Level-1</a></li>
									<li class="sub-slide">
										<a class="sub-side-menu__item" data-toggle="sub-slide" href="javascript:renderPage('#')"><span class="sub-side-menu__label">Level-2</span><i class="sub-angle fa fa-angle-left"></i></a>
										<ul class="sub-slide-menu">
											<li><a class="sub-slide-item" href="javascript:renderPage('#')">Level-2.1</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('#')">Level-2.2</a></li>
											<li class="sub-slide2">
												<a class="sub-side-menu__item2" href="javascript:renderPage('#')" data-toggle="sub-slide2"><span class="sub-side-menu__label2">Level-2.3</span><i class="sub-angle2 fa fa-angle-left"></i></a>
												<ul class="sub-slide-menu2">
													<li><a href="javascript:renderPage('#')" class="sub-slide-item2">Level-2.3.1</a></li>
													<li><a href="javascript:renderPage('#')" class="sub-slide-item2">Level-2.3.2</a></li>
													<li><a href="javascript:renderPage('#')" class="sub-slide-item2">Level-2.3.3</a></li>
												</ul>
											</li>
											<li><a class="sub-slide-item" href="javascript:renderPage('#')">Level-2.4</a></li>
											<li><a class="sub-slide-item" href="javascript:renderPage('#')">Level-2.5</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</aside>
				

				<div class="app-content main-content">
					<div class="side-app">

                        
						<div class="app-header header">
							<div class="container-fluid">
								<div class="d-flex">
									<a class="header-brand" href="javascript:renderPage('/')">
										<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Dayonelogo">
										<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/brand/logo-white.png" class="header-brand-img dark-logo" alt="Dayonelogo">
										<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="Dayonelogo">
										<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="Dayonelogo">
									</a>
									<div class="app-sidebar__toggle" data-toggle="sidebar">
										<a class="open-toggle" href="javascript:renderPage('#')">
											<i class="feather feather-menu"></i>
										</a>
										<a class="close-toggle" href="javascript:renderPage('#')">
											<i class="feather feather-x"></i>
										</a>
									</div>
									<div class="mt-0">
										<form class="form-inline">
											<div class="search-element">
												<input type="search" class="form-control header-search" placeholder="Search…" aria-label="Search" tabindex="1">
												<button class="btn btn-primary-color">
													<i class="feather feather-search"></i>
												</button>
											</div>
										</form>
									</div>
									<div class="d-flex order-lg-2 my-auto mr-auto">
										<a class="nav-link my-auto icon p-0 nav-link-lg d-xl-none navsearch" href="javascript:renderPage('#')" data-toggle="search">
											<i class="feather feather-search search-icon header-icon"></i>
										</a>
										<div class="dropdown header-flags">
											<a class="nav-link icon" data-toggle="dropdown">
												<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/flags/flag-png/united-kingdom.png" class="h-24" alt="img">
											</a>
											<div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow animated">
												<a href="javascript:renderPage('#')" class="dropdown-item d-flex "> <span class="avatar  mr-3 align-self-center bg-transparent"><img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/flags/flag-png/india.png" alt="img" class="h-24"></span>
													<div class="d-flex"> <span class="my-auto">India</span> </div>
												</a>
												<a href="javascript:renderPage('#')" class="dropdown-item d-flex"> <span class="avatar  mr-3 align-self-center bg-transparent"><img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/flags/flag-png/united-kingdom.png" alt="img" class="h-24"></span>
													<div class="d-flex"> <span class="my-auto">UK</span> </div>
												</a>
												<a href="javascript:renderPage('#')" class="dropdown-item d-flex"> <span class="avatar mr-3 align-self-center bg-transparent"><img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/flags/flag-png/italy.png" alt="img" class="h-24"></span>
													<div class="d-flex"> <span class="my-auto">Italy</span> </div>
												</a>
												<a href="javascript:renderPage('#')" class="dropdown-item d-flex"> <span class="avatar mr-3 align-self-center bg-transparent"><img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/flags/flag-png/united-states-of-america.png" class="h-24" alt="img"></span>
													<div class="d-flex"> <span class="my-auto">US</span> </div>
												</a>
												<a href="javascript:renderPage('#')" class="dropdown-item d-flex"> <span class="avatar  mr-3 align-self-center bg-transparent"><img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/flags/flag-png/spain.png" alt="img" class="h-24"></span>
													<div class="d-flex"> <span class="my-auto">Spain</span> </div>
												</a>
											</div>
										</div>
										<div class="dropdown header-fullscreen">
											<a class="nav-link icon full-screen-link">
												<i class="feather feather-maximize fullscreen-button fullscreen header-icons"></i>
												<i class="feather feather-minimize fullscreen-button exit-fullscreen header-icons"></i>
											</a>
										</div>
										<div class="dropdown header-message">
											<a class="nav-link icon" data-toggle="dropdown">
												<i class="feather feather-mail header-icon"></i>
												<span class="badge badge-success side-badge">5</span>
											</a>
											<div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow  animated">
												<div class="header-dropdown-list message-menu" id="message-menu">
													<a class="dropdown-item border-bottom" href="javascript:renderPage('#')">
														<div class="d-flex align-items-center">
															<div class="">
																<span class="avatar avatar-md brround align-self-center cover-image" data-image-src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/1.jpg"></span>
															</div>
															<div id="tokenarea" class="d-flex">
																<div class="pl-3">
																	<h6 class="mb-1">Jack Wright</h6>
																	<p class="fs-13 mb-1">All the best your template awesome</p>
																	<div class="small text-muted">
																		3 hours ago
																	</div>
																</div>
															</div>
														</div>
													</a>
													<span id="mytoken"></span>
													<a class="dropdown-item border-bottom" href="javascript:renderPage('#')">
														<div class="d-flex align-items-center">
															<div class="">
																<span class="avatar avatar-md brround align-self-center cover-image" data-image-src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/3.jpg"></span>
															</div>
															<div class="d-flex">
																<div class="pl-3">
																	<h6 class="mb-1">Blake Walker</h6>
																	<p class="fs-13 mb-1">Just created a new blog post</p>
																	<div class="small text-muted">
																		45 mintues ago
																	</div>
																</div>
															</div>
														</div>
													</a>
													<a class="dropdown-item border-bottom" href="javascript:renderPage('#')">
														<div class="d-flex align-items-center">
															<div class="">
																<span class="avatar avatar-md brround align-self-center cover-image" data-image-src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/4.jpg"></span>
															</div>
															<div class="d-flex">
																<div class="pl-3">
																	<h6 class="mb-1">Fiona Morrison</h6>
																	<p class="fs-13 mb-1">Added new comment on your photo</p>
																	<div class="small text-muted">
																		2 days ago
																	</div>
																</div>
															</div>
														</div>
													</a>
													<a class="dropdown-item border-bottom" href="javascript:renderPage('#')">
														<div class="d-flex align-items-center">
															<div class="">
																<span class="avatar avatar-md brround align-self-center cover-image" data-image-src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/6.jpg"></span>
															</div>
															<div class="d-flex">
																<div class="pl-3">
																	<h6 class="mb-1">Stewart Bond</h6>
																	<p class="fs-13 mb-1">Your payment invoice is generated</p>
																	<div class="small text-muted">
																		3 days ago
																	</div>
																</div>
															</div>
														</div>
													</a>
												</div>
												<div class=" text-center p-2">
													<a href="javascript:renderPage('#')" class="">See All Messages</a>
												</div>
											</div>
										</div>
										<div class="dropdown header-notify">
											<a class="nav-link icon" data-toggle="sidebar-left" data-target=".sidebar-left">
												<i class="feather feather-bell header-icon"></i>
												<span class="bg-dot"></span>
											</a>
										</div>
										<div class="dropdown profile-dropdown">
											<a href="javascript:renderPage('#')" class="nav-link pl-1 pr-0 leading-none" data-toggle="dropdown">
												<span>
													<img src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/person_icon.svg" alt="img" class="avatar avatar-md bradius">
												</span>
											</a>
											<div class="dropdown-menu dropdown-menu-left dropdown-menu-arrow animated">
												<div class="p-3 text-center border-bottom">
													<a href="javascript:renderPage('#')" class="user-name text-center user pb-0 font-weight-bold">John Thomson</a>
													<p class="text-center user-semi-title">App Developer</p>
												</div>
												<a class="dropdown-item d-flex" href="javascript:renderPage('#')">
													<i class="feather feather-user ml-3 fs-16 my-auto"></i>
													<div class="mt-1">Profile</div>
												</a>
												<a class="dropdown-item d-flex" href="javascript:renderPage('#')">
													<i class="feather feather-settings ml-3 fs-16 my-auto"></i>
													<div class="mt-1">Settings</div>
												</a>
												<a class="dropdown-item d-flex" href="javascript:renderPage('#')">
													<i class="feather feather-mail ml-3 fs-16 my-auto"></i>
													<div class="mt-1">Messages</div>
												</a>
												<a class="dropdown-item d-flex" href="javascript:renderPage('#')" data-toggle="modal" data-target="#changepasswordnmodal">
													<i class="feather feather-edit-2 ml-3 fs-16 my-auto"></i>
													<div class="mt-1">Change Password</div>
												</a>
												<a class="dropdown-item d-flex" href="javascript:signout()">
													<i class="feather feather-power ml-3 fs-16 my-auto"></i>
													<div class="mt-1">Sign Out</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
                         <div id="mycontent"></div>
					</div>
				</div>
			</div>

            
			<footer class="footer">
				<div class="container">
					<div class="row align-items-center flex-row-reverse">
						<div class="col-md-12 col-sm-12 mt-3 mt-lg-0 text-center">
							جميع الحقوق محفوظة لصالح جامعة تكنولوجيا المعلومات والاتصالات, المصمم حسين محمد رضا © 2022
						</div>
					</div>
				</div>
			</footer>
			

            
			<div class="sidebar sidebar-left sidebar-animate">
				<div class="card-header border-bottom pb-5">
					<h4 class="card-title">Notifications </h4>
					<div class="card-options">
						<a href="javascript:renderPage('#')" class="btn btn-sm btn-icon btn-light  text-primary" data-toggle="sidebar-left" data-target=".sidebar-left"><i class="feather feather-x"></i> </a>
					</div>
				</div>
				<div class="">
					<div class="list-group-item  align-items-center border-0">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/4.jpg)"></span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Liam <span id="mbody" class="text-muted font-weight-normal">Sent Message</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>30 mins ago</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/10.jpg)"></span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Paul<span class="text-muted font-weight-normal"> commented on you post</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>1 hour ago</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3 bg-pink-transparent"><span class="feather feather-shopping-cart"></span></span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">James<span class="text-muted font-weight-normal"> Order Placed</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>1 day ago</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/9.jpg)">
								<span class="avatar-status bg-green"></span>
							</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Diane<span class="text-muted font-weight-normal"> New Message Received</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>1 day ago</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/5.jpg)">
								<span class="avatar-status bg-muted"></span>
							</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Vinny<span class="text-muted font-weight-normal"> shared your post</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>2 days ago</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3 bg-primary-transparent">M</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Mack<span class="text-muted font-weight-normal"> your admin lanuched</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>1 week ago</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/12.jpg)">
								<span class="avatar-status bg-green"></span>
							</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Vinny<span class="text-muted font-weight-normal"> shared your post</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>04 Jan 2021 1:56 Am</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/8.jpg)">	</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Anna<span class="text-muted font-weight-normal"> likes your post</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>25 Dec 2020 11:25 Am</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/14.jpg)">	</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Kimberly<span class="text-muted font-weight-normal"> Completed one task</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>24 Dec 2020 9:30 Pm</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3" style="background-image: url(https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/images/users/3.jpg)">	</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Rina<span class="text-muted font-weight-normal"> your account has Updated</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>28 Nov 2020 7:16 Am</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="list-group-item  align-items-center  border-bottom">
						<div class="d-flex">
							<span class="avatar avatar-lg brround ml-3 bg-success-transparent">J</span>
							<div class="mt-1">
								<a href="javascript:renderPage('#')" class="font-weight-semibold fs-16">Julia<span class="text-muted font-weight-normal"> Prepare for Presentation</span></a>
								<span class="clearfix"></span>
								<span class="text-muted fs-13 mr-auto"><i class="mdi mdi-clock text-muted ml-1"></i>18 Nov 2020 11:55 Am</span>
							</div>
							<div class="mr-auto">
								<a href="javascript:renderPage('')" class="mr-0 option-dots" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
									<span class="feather feather-more-horizontal"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-left" role="menu">
									<li><a href="javascript:renderPage('#')"><i class="feather feather-eye ml-2"></i>View</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-plus-circle ml-2"></i>Add</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-trash-2 ml-2"></i>Remove</a></li>
									<li><a href="javascript:renderPage('#')"><i class="feather feather-settings ml-2"></i>More</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			

            
			
			<div class="modal fade" id="changepasswordnmodal">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Change Password</h5>
							<button class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="form-label">New Password</label>
								<input type="password" class="form-control" placeholder="password" value="">
							</div>
							<div class="form-group">
								<label class="form-label">Confirm New Password</label>
								<input type="password" class="form-control" placeholder="password" value="">
							</div>
						</div>
						<div class="modal-footer">
							<a href="javascript:renderPage('#')" class="btn btn-outline-primary" data-dismiss="modal">Close</a>
							<a href="javascript:renderPage('#')" class="btn btn-primary">Confirm</a>
						</div>
					</div>
				</div>
			</div>
			


		</div>
      
		<a href="#top" id="back-to-top"><span class="feather feather-chevrons-up"></span></a>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/moment/moment.js"></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/jquery/jquery.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/bootstrap/popper.min.js" defer></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/bootstrap/js/bootstrap.min.js" defer></script>
 
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/vertical-scroll/jquery.bootstrap.newsbox.js" defer></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/vertical-scroll/vertical-scroll.js" defer></script>

		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/othercharts/jquery.sparkline.min.js" defer></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/circle-progress/circle-progress.min.js" defer></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/sidemenu/sidemenu.js" defer></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/p-scrollbar/p-scrollbar.js" defer></script>
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/p-scrollbar/p-scroll1.js" defer></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/sidebar/sidebar-rtl.js" defer></script>

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/plugins/select2/select2.full.min.js" defer></script>

        

		
		<script src="https://cdn.jsdelivr.net/gh/hmrsmart/dayone@main/public/assets/js/custom.js" defer></script>

<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-messaging.js"></script>
    
<script src="myfrontend.js"></script> 
 
<script>
my_id = 'myid';
my_name = 'my_name';
//console.log("my_name is : "+my_name);

</script>  
<script>
const DISCOVERY_DOC = 'https://www.googleapis.com/discovery/v1/apis/drive/v3/rest';
      $.cachedScript( "https://apis.google.com/js/api.js", "https://accounts.google.com/gsi/client").done(function( script, textStatus ) {

        gapi.load('client', intializeGapiClient);

              async function intializeGapiClient() {
        gapi.client.setToken({access_token:mysessionProvider})
     await gapi.client.init({discoveryDocs: [DISCOVERY_DOC],})
       
      }


  function gapiLoaded(){
console.log('gapiLoaded')   
 }

 function gisLoaded(){
 console.log('gisLoaded')  
 }       
      });

     async function listFiles() {
       // accessToken1 = gapi.client.getToken().access_token;
      //console.log(gapi.client.getToken());
      
        let response;
        try {
          response = await gapi.client.drive.files.list({
            'pageSize': 10,
            'fields': 'files(id, name)',
          });
        } catch (err) {
          document.getElementById('content').innerText = "يرجى تسجيل الخروج واعادة تسجيل الدخول من جديد";
          return;
        }
        const files = response.result.files;
        if (!files || files.length == 0) {
          document.getElementById('content').innerText = 'No files found.';
          return;
        }
        // Flatten to string to display
        const output = files.reduce(
            (str, file) => `${str}${file.name} (${file.id}\n`,
            'Files:\n');
        document.getElementById('content').innerText = output;
      }
const mySubscription = _supabase
  .from('notifications')
  .on('INSERT', payload => {
    console.log('Change received!', payload.new['body'])
  })
  .subscribe()            
    </script>    
	</body>
</html>